@import url(https://fonts.googleapis.com/css?family=Quicksand:400,900,800,700,600,500,300,200,100);

.aclearButton {
    font-family: quicksand;
    display: inline-block;
    font-size: 1em;
    background-color: #eeeeee;
    text-decoration: none;
    padding: 5px 40px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
    border: 0;
    color: #222222;
    border-radius: 5px;
    transition: .4s;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
}

.aclearButton:hover {
    box-shadow: none;
    transform: scale(.95);
}

.clearButton {
    font-family: "Segoe UI";
    display: inline-block;
    font-size: 1em;
    background-color: transparent;
    text-decoration: none;
    padding: 5px 40px;
    border: 3px solid #F24130;
    color: #F24130;
    border-radius: 5px;
    transition: .4s;
    cursor: pointer;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.clearButton:hover {
    background-color: #F24130;
    color: #4B4B4C;
}



label:hover{
    cursor:text;
}
.input_group label{
    display:block;
    position:absolute;
    color: black;
    font-size:16px;
    top:0;
    left:12px;
    transition:all 0.3s ease;
    font-family: "Segoe UI";
}
.input_group .active{
    font-size:12px;
    top:-17px;
    left:0;
    font-weight:700;
    color: #F24130;
    border-bottom: #F24130;
    border-bottom-width: 2px;
}
.input_group{
    margin-top:30px;
    display:block;
    position:relative;
}
.input_group input{
    margin: 0;
    transition:all 0.3s ease;
    padding:6px 0;
    font-size:16px;
    outline:0;
    border: 0 solid #260101;
    border-bottom:1px solid black;
    height: 17px;
    width: 100%;
    background-color: transparent;
}
.input_group input:focus{
    border-bottom:3px solid #F24130;
    height: 15px;
}

.output_group{
    margin-top:30px;
    display:block;
    position:relative;
    font-family: Segoe UI;

}
.output_group input{
    margin: 0;
    transition:all 0.3s ease;
    padding:6px 0 6px 4%;
    font-size:16px;
    outline:0;
    border: 0;
    border-bottom:1px solid #4B4B4C;
    height: 17px;
    width: 100%;
    color: #4B4B4C;
    font-weight: bolder;
}
.output_group input:disabled{
    background-color: transparent;

}
.output_group label{
    display:block;
    position:absolute;
    color:#4B4B4C;
    font-size:16px;
    left: 0;
    transition:all 1s ease;
    text-align: right;
    overflow: hidden;
    font-weight: normal;
}
.output_group .active{
    left: 30%;
    color: #F24130;
    font-weight: bolder;

}

