@import url(https://fonts.googleapis.com/css?family=Quicksand);

.dropshadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input_group label{
    display:block;
    position:absolute;
    color:#BBA9B1;
    font-size:16px;
    top:3px;
    left:12px;
    transition:all 0.3s ease;
    font-family: "quicksand";
}

.input_group .active{
    font-size:12px;
    top:-20px;
    left:0;
    font-weight:700;
    color:#2470ef;
    border-bottom: #222222;
    border-bottom-width: 2px;
}

.input_active {
    border-bottom-width: 5px;
    background-color: black;
}

.input_inactive {
    background: white;
}

.input_group{
    margin-top:30px;
    display:inline-block;
    position:relative;
}
label:hover{
    cursor:text;
}

.input_group input{
    transition:all 0.3s ease;
    padding:6px 12px;
    font-size:16px;
    outline:0;
    border:1px solid #DADADA;
    border-radius:2px;
}
.input_group input:focus{
    border:1px solid #2470ef;
}







.filled {
    background-color: lightgreen;
}

/*Website Structure*/
header {
    background-color: #e5e5e5;
}

h1 {
    font-family: "Segoe UI";
    font-weight: normal;
    font-size: 3em;
    margin: 0;
    padding: 20px 0px;
}

.column {
    float: left;
    margin: 0;
}
.column_30 {
    width: 30%;
}
.column_40 {
    width: 40%;
}
.column_50 {
    width: 50%;
}
.column_70 {
    width: 70%;
}

.side_panel {
    background-color: #ffa350;
}

div {
    font-family: "Segoe UI";

}

.body_100_width {
    margin: 0px;
    padding: 0px
}

/*Main Menu*/

.mainnav {
    list-style: none;
    text-align: center;
    background-color: dimgrey;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.mainnav li {
    display: inline-block;
}

.mainnav a {
    padding: 20px;
    text-align: center;
    width: 100px;
    font-size: 20px;
    display: block;
    color: white;
    font-family: "Segoe UI";
    font-weight: normal;
    transition-duration: 0.5s;
}

.mainnav a:hover {
    background-color: white;
    color: #222222;
}



/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .container {
        float: none;
    }
    .mainnav li {
        display: table;
        margin: 0 auto;
    }
}
