@import url(https://fonts.googleapis.com/css?family=Quicksand:400,900,800,700,600,500,300,200,100);

.body_100_width {
    margin: 0;
    padding: 0;
    background: white;
}





/*Website Structure*/
header {
    background-color: black;
}

h1 {
    font-family: "Segoe UI";
    font-weight: bolder;
    font-size: 3em;
    margin: 0;
    padding: 20px 0;
    color: white;
}

h2 {
    color: white;
    text-transform: capitalize;
}
.background-image {
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    left: 0;
    position: relative;
    right: 0;
    z-index: 1;
}



div {
    font-family: "Segoe UI";
}



/*Main Menu*/

.mainnav {
    list-style: none;
    text-align: center;
    background-color: white;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.mainnav li {
    display: inline-block;
}

.mainnav a {
    padding: 15px;
    text-align: center;
    width: 80px;
    font-size: 20px;
    display: block;
    color: black;
    font-family: "quicksand";
    font-weight: normal;
    transition-duration: 0.5s;
}

.mainnav a:hover {
    background-color: black;
    color: #F24130;
    border-bottom: 10px black;
    cursor: pointer;
}



/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .container {
        float: none;
    }
    .mainnav li {
        display: table;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1000px) {
    .column {
        float: none;
        display: inline;
    }
    .column_50 {
        width: 100%;
    }
}
